body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	/* mobile viewport bug fix */
  	min-height: -webkit-fill-available;
  	display: block;
}

html {
	height: -webkit-fill-available;
}

.container {
    display: flex;
    align-items: stretch;
    /*height: 30vh;*/
}

#map{
	width: 100%;
	height: 100vh;
}

.mapboxgl-ctrl-rec {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/></svg>');
    background-repeat: no-repeat;
  	background-position: center;

}

.recording  {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path stroke ="%23c7605a" fill="%23c7605a" d="M12 14c1.66 0 2.99-1.34 2.99-3L15 5c0-1.66-1.34-3-3-3S9 3.34 9 5v6c0 1.66 1.34 3 3 3zm5.3-3c0 3-2.54 5.1-5.3 5.1S6.7 14 6.7 11H5c0 3.41 2.72 6.23 6 6.72V21h2v-3.28c3.28-.48 6-3.3 6-6.72h-1.7z"/></svg>');
    background-repeat: no-repeat;
  	background-position: center;
}


